<div class="jumbotron text-center">
    <h1 class="display-3 card-title">{{title}}</h1>
    <p class="lead">Welcome to our shop</p>
    <a href="/customers/subscribe" class="btn btn-dark-btn-lg">Subscribe a new customer</a>
</div>